.profile-header{
    display:flex;
    flex-direction:column;
    /* height:100vh;
    position: absolute;
    left: 252px; */
    width: 86%;
    margin-left: 252px;
    height: 100vh;
}
.profile{
    background-color: #F5F7FA;
    height:100%;
    padding: 20px 40px 40px 40px;
    box-sizing: border-box;
}

.profile-card {
    display: flex;
    width: 96.5%;
    /* min-height: 210px; */
    padding: 26px 30px;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    margin-top: 16px;

}
.profile-image{
    width: 182px;
}
.profile-img{
    border-radius: 50%;
}
.profile-details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.inputs-container{
    display: flex;
    justify-content: flex-start;
    gap: 29px;
    align-items: flex-start;
    flex-wrap: wrap;
}
input{
    box-sizing: border-box;
    width: 418px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #DFEAF2;
    background: #FFF;
    outline: none;
    color: #718EBF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 20px;
    /* margin-top: 11px; */

}
label{
    color: #505887;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.input-items{
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 22px;
}