.notfound-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.not-found{
    color: #343C6A;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
}